<h1>Edit article</h1>
 
<%=form_for @article, url: {action: "update"} do |form| %>
  <p>
   <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>

<%end %>
 
